@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif; /* default font */
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 0px;
  flex: 1;
}